<div>
    <h2 id="page-heading">
        <span>Wellbores</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wellbore" [routerLink]="['/wellbore/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Wellbore
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="wellbores">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Well Name</span></th>
            <th><span>Parent Wellbore Name</span></th>
            <th><span>Goverment Number</span></th>
            <th><span>Status</span></th>
            <th><span>Purpose</span></th>
            <th><span>Type</span></th>
            <th><span>Shape</span></th>
            <th><span>Day Target</span></th>
            <th><span>Kick Off Date</span></th>
            <th><span>Achieved TD</span></th>
            <th><span>Md Current</span></th>
            <th><span>Tvd Current</span></th>
            <th><span>Md Bit Current</span></th>
            <th><span>Tvd Bit Current</span></th>
            <th><span>Md Kick Off</span></th>
            <th><span>Tvd Kick Off</span></th>
            <th><span>Md Planned</span></th>
            <th><span>Tvd Planned</span></th>
            <th><span>Md Sub Sea</span></th>
            <th><span>Tvd Sub Sea</span></th>
            <th><span>Well</span></th>
            <th><span>Parent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wellbore of wellbores ;trackBy: trackId">
                <td><a [routerLink]="['/wellbore', wellbore.id, 'view' ]">{{wellbore.id}}</a></td>
                <td>{{wellbore.name}}</td>
                <td>{{wellbore.wellName}}</td>
                <td>{{wellbore.parentWellboreName}}</td>
                <td>{{wellbore.govermentNumber}}</td>
                <td>{{wellbore.status}}</td>
                <td>{{wellbore.purpose}}</td>
                <td>{{wellbore.type}}</td>
                <td>{{wellbore.shape}}</td>
                <td>{{wellbore.dayTarget}}</td>
                <td>{{wellbore.kickOffDate | date:'medium'}}</td>
                <td>{{wellbore.achievedTD}}</td>
                <td>{{wellbore.mdCurrent}}</td>
                <td>{{wellbore.tvdCurrent}}</td>
                <td>{{wellbore.mdBitCurrent}}</td>
                <td>{{wellbore.tvdBitCurrent}}</td>
                <td>{{wellbore.mdKickOff}}</td>
                <td>{{wellbore.tvdKickOff}}</td>
                <td>{{wellbore.mdPlanned}}</td>
                <td>{{wellbore.tvdPlanned}}</td>
                <td>{{wellbore.mdSubSea}}</td>
                <td>{{wellbore.tvdSubSea}}</td>
                <td>
                    <div *ngIf="wellbore.well">
                        <a [routerLink]="['../well', wellbore.well?.id, 'view' ]" >{{wellbore.well?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="wellbore.parent">
                        <a [routerLink]="['../wellbore', wellbore.parent?.id, 'view' ]" >{{wellbore.parent?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/wellbore', wellbore.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wellbore', wellbore.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wellbore/'+ wellbore.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
