<div>
    <h2 id="page-heading">
        <span>Derived Units</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-derived-unit" [routerLink]="['/derived-unit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Derived Unit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="derivedUnits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Symbol</span></th>
            <th><span>Conversion Type</span></th>
            <th><span>Factor</span></th>
            <th><span>Origin</span></th>
            <th><span>Base Unit</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let derivedUnit of derivedUnits ;trackBy: trackId">
                <td><a [routerLink]="['/derived-unit', derivedUnit.id, 'view' ]">{{derivedUnit.id}}</a></td>
                <td>{{derivedUnit.name}}</td>
                <td>{{derivedUnit.symbol}}</td>
                <td>{{derivedUnit.conversionType}}</td>
                <td>{{derivedUnit.factor}}</td>
                <td>{{derivedUnit.origin}}</td>
                <td>
                    <div *ngIf="derivedUnit.baseUnit">
                        <a [routerLink]="['../base-unit', derivedUnit.baseUnit?.id, 'view' ]" >{{derivedUnit.baseUnit?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/derived-unit', derivedUnit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/derived-unit', derivedUnit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'derived-unit/'+ derivedUnit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
