<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recordType">
            <h2><span>Record Type</span> {{recordType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Number</span></dt>
                <dd>
                    <span>{{recordType.number}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{recordType.name}}</span>
                </dd>
                <dt><span>Trigger</span></dt>
                <dd>
                    <span>{{recordType.trigger}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{recordType.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/record-type', recordType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
