<div>
    <h2 id="page-heading">
        <span>Wells</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-well" [routerLink]="['/well/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Well
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="wells">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Well Name</span></th>
            <th><span>Operator</span></th>
            <th><span>Block</span></th>
            <th><span>Field</span></th>
            <th><span>Country</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let well of wells ;trackBy: trackId">
                <td><a [routerLink]="['/well', well.id, 'view' ]">{{well.id}}</a></td>
                <!--<td>{{well.status}}</td>-->
                <td>{{well.name}}</td>
                <td>{{well.operator}}</td>
                <td>{{well.block}}</td>
                <td>{{well.field}}</td>
                <td>{{well.country}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['/well', well.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/well', well.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'well/'+ well.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
